# Ignore macOS system files
.DS_Store

# Ignore system and hidden files
*.log
*.pem
*.key
.idea/
.vscode/
node_modules/

# Ignore desktop and other personal directories
../../Desktop/
../../Documents/
../../Downloads/
../../Library/
../.DS_Store
../.localized

# Ignore other common system directories
*.pdf
*.ipynb
